includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan

services:
    -
        class: Vormkracht10\TwoFactorAuth\Tests\PHPStan\UserPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
